<link rel="stylesheet" href="../NavbarStyle.css">
<div style="width: 100vw; height: 110px; background-image: url('../SoccerBanner.jpg')">
    <h1 class ="wordart">Soccer Clicker</h1>
    <img src="../soccer-ball.png" style="height: 90px; width: 90px;">
</div>
<ul>
    <li><a href="/clicker">Play</a></li>
    <li><a href="/leaderboard">Leaderboard</a></li>
    <li class="dropdown">
        <a  class="dropbtn">{{username}}</a>
        <div class="dropdown-content">
            <a href="/logout">Log Out</a>
        </div>
    </li>
</ul>