<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dungeon Clicker</title>
    <link rel="stylesheet" href="CSS/Clicker.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../CSS/agile1.css">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
</head>
<body style="margin: 0;">
<div id="root"></div>

<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="JS/Clicker.js" type="text/babel"></script>
<script src="JS/Gamepages.js" type="text/babel"></script>
<script src="JS/AJAX.js"></script>
</body>

</html>