<!DOCTYPE html>
<html>
<head>
    <title>Node Clicker</title>
    <link rel="stylesheet" href="Leaderboard.css">
</head>

<body>
{{>Navbar}}

<br><br>

<br><br>
<div class = "leader">
    <div class="position" id="position"></div>
    <div class="name"; id="names"></div>
    <div class="user"; id="userscores"></div>
</div>
</body>

<script src="Leaderboard.js" type="application/javascript" charset="UTF-8"></script>


</html>