body {
    width:  100vw;
    height: 100vh;
    background:
        /*url(https://wallpapercave.com/wp/bn0yUBq.jpg)*/
        url(https://img1.goodfon.com/wallpaper/nbig/c/51/old-trafford-old-trafford.jpg)
        no-repeat;
    background-size: 100% 100%;
}

div a {
  color: white
}
.leader{
	margin:auto; width:50%; color:white;
}
.name{
    margin-left: 10px;
	float:left;
}
.user{
    margin-right: 20px;
	float:right;
}
.position{
    margin-left: 10px;
    float: left;
}

.leader {
  display: table;         
  width: 100%;         
  background-color: rgba(0, 0, 0, 0.5);         
  border: 0px solid #666666;         
  border-spacing: 10px;
}