<!DOCTYPE html>
<html>
<head>
    <title>Node Clicker</title>
    <script src="JS/Login.js" type="application/javascript"></script>
</head>
<body>
<div>
    Login
    <form id="login" method="post" action="/login" onsubmit="return handlesubmit()">
        <input type="text" id="lusername" name="Username" placeholder="Username">
        <input type="password" id="lpassword" name="Password" placeholder="Password">
        <input type="submit" value="Sign In">
    </form>
</div>
<hr>
<div>
    Register
    <form onsubmit="return sendRegister()">
        <input type="email" id="remail" name="remail" placeholder="Email" required>
        <input type="text" id="rusername" name="rusername" placeholder="Username" required>
        <input type="password" id="rpassword" name="rpassword" placeholder="Password" required>
        <input type="submit" name="Submit" value="Register"/>
    </form>
</div>

</body>

{{>footer}}

</html>