<!DOCTYPE html>
<html>
<head>
    <title>Node Clicker</title>
    <link rel="stylesheet" href="LoginStyles.css">
</head>
<body>
{{>Navbar}}
<div id="Login">
<form method="post" action="/login">
    <input type="text" name="Username" placeholder="Username" required>
    <input type="password" name="Password" placeholder="Password" required>
    <input type="submit" value="Login">
</form>
    <br>
    <div style="color: red; text-align:center; margin:auto">{{loginmsg}}</div>
    <div class="shadow2"></div>
</div>
<hr>
<div>
    <form method="post" action="/register">
        <input type="text" name="Username" placeholder="Username" required>
        <input type="password" name="Password" placeholder="Password" required>
        <input type="submit" value="Register">
    </form>
    <br>
    <div style="color: red; text-align:center;margin:auto">{{Registermsg}}</div>
    <div class="shadow"></div>
    
</div>

</body>

{{>footer}}

</html>