<!DOCTYPE html>
<html>
<head>
    <title>Node Clicker</title>
</head>
<body>
<div id="Login">
    Login
    <form method="post" action="/login">
        <input type="text" name="Username" placeholder="Username" required>
        <input type="password" name="Password" placeholder="Password" required>
        <input type="submit" value="Login">
    </form>
</div>
<hr>
<div>
    Register
    <form method="post" action="/register">
        <input type="text" name="Username" placeholder="Username" required>
        <input type="password" name="Password" placeholder="Password" required>
        <input type="submit" value="Register">
    </form>
</div>

</body>

{{>footer}}

</html>