<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
    <title>Sign in</title>
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link href="CSS/Login.css" rel="stylesheet">
</head>

<body>
<div id="root"></div>
</body>

<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

<script src="JS/LoginPages.js" type="text/babel"></script>
</html>
