<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>My profile</title>

<body>
    <div id="top_bar">
        <h1> Welcome back, {{user}}</h1>
        <div id="menu">
            <form align="right" name="setting" method="all" action="/reset-password">
                <input name="setting" type="submit" value="Reset Password">
            </form>
            <form align="right" name="logout" method="all" action="/logout">
                <input name="logout" type="submit" value="Logout">
            </form>
        </div>
    </div>
    <div id="content">
        <p id="score">You Score: {{score}}</p>
        <a href="/game"><button id="enter_game">Start the Game</button></a>
    </div>
</body>

<style>
    body {
        background-color: #323232;
    }

    #top_bar {
        background-color: #e1e1e1;
        border: 2px solid;
        border-color: #e15848;
        height: 80px;
        width: 100%
    }

    #content {
        margin: 60px auto;
        width: 700px;
        height: 420px;
        background-color: #e1e1e1;
        border-radius: 20px;
    }

    #menu {
        position: relative;
        width: 300px;
        left: 80%;
        top: -60px;
    }

    form {
        display: inline-block;
    }

    h1 {
        position: relative;
        left: 20px;
        width: 500px;
        font-family: Arial, Helvetica, sans-serif;
        color: #e15848;
        text-align: left;
    }

    input {
        position: relative;
        border-radius: 15px;
        background-color: #e15848;
        margin: 0px 20px;
        width: 104px;
        height: 40px;
        color: #e1e1e1;
        box-shadow: none;
        border: none;
    }

    input:hover {
        width: 100px;
        height: 40px;
        background-color: #e1e1e1;
        border-radius: 15px;
        color: #e15848;
        box-shadow: none;
        border: 2px solid #e15848;
        transition: 0.3s;
    }

    #score {
        position: relative;
        top: 40px;
        margin: 25px auto;
        color: #e15848;
        font-size: 55px;
        text-align: center;
    }

    #content a {
        position: relative;
        width: 360px;
        height: 100px;
        top: 100px;
        left: 24%;
    }

    #enter_game {
        background-color: #e15848;
        border-radius: 10px;
        width: 360px;
        height: 100px;
        color: #e1e1e1;
        box-shadow: none;
        border: none;
        font-size: 40px;
    }

    #enter_game:hover {
        width: 360px;
        height: 100px;
        background-color: #e1e1e1;
        border-radius: 10px;
        color: #e15848;
        box-shadow: none;
        border: 2px solid #e15848;
        font-size: 40px;
        transition: 0.3s;
    }
</style>

</html>