<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>Register</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<style>
    body {background-color: #323232; };

    #content {
        margin: 100px auto;
        width: 500px;
        height: 400px;
        background-color: #e1e1e1;
        border-radius: 20px;
        display: inline-block;    
    }


    h1 {
        position: relative;
        top: 25px;
        left: 35px;
        margin: 50px 100px;
        font-family: 'Roboto', sans-serif;
        color: white;
        left: 0%;
    }
    
    #reg_form {
        position: relative;
        top: 10px;
        margin: -10px 80px;
        display: inline-block;
    }

    input {
        border-radius: 10px;
        background-color: #cacaca;
        padding: 2px;
        margin: 10px auto;
        width: 350px;
        height: 40px;
        box-shadow: none;
        border: none;
    }

    #regBtn{
        position: relative;
        background-color: #a099a83d;
        width: 120px;
        height: 40px;
        color: #e1e1e1;

    }

    #sign_in{
        position: relative;
        height: 50px;
        width: 350px;
        top: 30px;
        line-height: 48px;
        background-color:#a099a83d;
        color: #e1e1e1;
        display: inline-block;
        border-radius: 0px 0px 20px 20px;
        font-size: 16px;
    }


    #reg_note {
        position: relative;
        height: 50px;
        top: 10px;
        line-height: 48px;
        color: #e1e1e1;
        border-radius: 20px 20px 20px 20px;
        font-size: 16px;
        margin: -10px;
        left: 95px;
    }

    .wrapper {
        text-align:center;

    }
</style>

<body>
    <div class="wrapper">
        <div id="content">
            <h1>Register</h1>
            <div id="reg_form">
                <form action="/create-user" method="POST">
                    <input name="username" type="text" placeholder="    Username" required="required"> <br>
                    <input name="password" type="password" placeholder="    Password" required="required"> <br>
                    <input name="password_confirm" type="password" placeholder="    Confirm Password" required="required"> <br>
                    <input name="email" type="email" placeholder="    Email" required="required'"> <br>
                    <input type="submit" id="regBtn">
                </form>
                <div id="sign_in">Already have an account?&nbsp;&nbsp; <a href="/">Sign in</a></p></div>
            </div>
        </div>
    </div>
</body>



</html>