<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testing!</title>
    <link rel="stylesheet" href="CSS/testing.css">
</head>
<body style="margin: 0; border: 1px black solid">
<div id="root"></div>

<button onclick="createGame(0,5)">Click here to start!</button>

<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

<script src="JS/Clicker.js" type="text/babel"></script>
</body>

</html>