#attackButton {
    float: right;
    background: black;
}

#health{
    color: red;
}

#root{
    margin: 100px auto auto;
    width: 750px;
    height: 750px;
}

#message{
    border: black 2px solid;
    position: absolute;
    top: 20%;
    left: 20%;
    color: black;
    height: 300px;
    width: 450px;
    background: #464646;
}

#shop{
    border: black 2px solid;
    position: absolute;
    top: 5%;
    left: 14%;
    color: black;
    height: 600px;
    width: 550px;
    background: #464646;
}

#gameArea{
    position: relative;
    border: black solid 5px;
    margin: auto;
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
}
#followertext{
    float: left;
}
.wrapper{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background: rgba(7, 8, 7, 0.34);
}