#attackButton {
    float: right;
    background: black;
}

#health{
    color: red;
}

#root{
    margin: 100px auto auto;
    width: 750px;
    height: 750px;
}

#message{
    border: black 2px solid;
    position: absolute;
    top: 100px;
    left: 100px;
    color: black;
    height: 550px;
    width: 550px;
    background: sandybrown;
}

#gameArea{
    position: relative;
    border: black solid 5px;
    margin: auto;
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
}
#followertext{
    float: left;
}