#attackButton {
    float: right;
    background: black;
}

#health{
    color: red;
}

#root{
    margin: auto;
    width: 750px;
    height: 750px;
}
#message{
    position: absolute;
    top: 100px;
    left: 100px;
    color: red;
    height: 550px;
    width: 550px;
    background-color: red;

}

#gameArea{
    position: relative;
    border: black solid 1px;
    margin: auto;
    width: 750px;
    height: 750px;
    align-content: center;
    text-align: center;
}