#attackButton {
    float: right;
    background: black;
}

#health{
    color: red;
}
#root{
    margin: auto;
    width: 750px;
    height: 750px;
}
#messageArea{
    position: absolute;
    top: 375px;
    left: 375px;
    text-align: center;
}
#gameArea{
    position: relative;
    top: 0;
    left: 0;
    border: black solid 1px;
    margin: auto;
    width: 750px;
    height: 750px;
    align-content: center;
    text-align: center;
}