<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../CSS/agile1.css">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
</head>
<body>

<div class="bg">
    <p>
        Village
    </p>
    <div class="nav-item">
        <a class="btn btn-danger btn-rounded btn-lg" href="agile2.html">Play</a>
    </div>
    <div class="nav-item1">
    <button type="button" class="btn btn-danger btn-rounded btn-lg" data-toggle="modal" data-target="#myModal">Graveyard</button>
    <div class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="nav-item1">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Graveyard</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    </div>
    <div class="nav-item2">
        <button type="button" class="btn btn-danger btn-rounded btn-lg" data-toggle="modal" data-target="#myModal">Upgrade</button>
        <div class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="nav-item2">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times</button>
                        <h4 class="modal-title">Upgrade</h4>
                    </div>
                    <div class="modal-body">
                        <p>hello</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="nav-item3">
        <button type="button" class="btn btn-danger btn-rounded btn-lg" data-toggle="modal" data-target="#myModal">Leaderboard</button>
        <div class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="nav-item3">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Leaderboard</h4>
                    </div>
                    <div class="modal-body">
                        <p>Hello</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="nav-item4">
        <button type="button" class="btn btn-danger btn-rounded btn-lg" data-toggle="modal" data-target="#myModal">Recruit</button>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="nav-item4">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Recruit</h4>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</html>